.Menu-row {
  display: flex;
  margin-left: 7px;
}

.Menu-row .Company-name {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  margin-right: 15px;
}

.icon-menu {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  margin-right: -20px;
}

@media screen and (min-width: 360px) {
  .Menu-row .Company-name {
    margin-left: 10px;
  }
}

@media screen and (min-width: 760px) {
  .Menu-row {
    margin-left: 40px;
  }

  .Menu-row .Company-name {
    font-size: 26px;
    margin-left: 30px;
  }
}
