.delivery {
  width: 100%;
  height: 100%;
}

.delivery .row {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.delivery .row .col img {
  height: 12px;
  width: 12px;
  margin-top: 5px;
}

.delivery-title {
  font-size: 10px;
  color: white;
  margin-left: 4px;
}

.time-to-deliver {
  font-size: 10px;
  color: white;
  font-weight: 700;
}

.delivery-time-selector {
  text-decoration: none;
  color: white;
}

.delivery-time-selector-2 {
  text-decoration: none;
}

.arrow-icon img {
  margin-top: 5px;
  height: 10px;
  width: 10px;
  color: white;
  transform: rotate(90deg);
}

.deliver-time-container {
  margin-right: -9px;
}

.deliver-time-container:active {
  transform: scale(0.9);
}

.icon-container {
  margin-bottom: 4px;
}

.icon-container:active {
  transform: scale(0.9);
}

.mini-table-container {
  margin-top: 8px;
}

.dropdown-time-menu {
  background-color: #f9f9f8;
  border: 1px solid #dfe1e5;
  height: 50px;
  color: black;
  border-radius: 5px;
  opacity: 0.9;
  margin-top: 6px;
  line-height: 14px;
  height: 62px;
  width: 40px;
}

.dropdown-time-menu a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  color: black;
  font-size: 10px;
}

@media screen and (min-width: 300px) {
  .dropdown-time-menu {
    margin-top: -1px;
  }
}

@media screen and (min-width: 400px) {
  .delivery .row {
    margin-left: 10px;
  }

  .delivery .row .col {
    margin-bottom: 5px;
  }

  .delivery-title {
    font-size: 13px;
  }

  .deliver-time-container {
    font-size: 13px;
    margin-right: -22px;
  }

  .mini-table-container {
    margin-top: 10px;
  }

  .arrow-icon {
    margin-left: -20px;
  }

  .dropdown-time-menu {
    height: 72px;
    width: 50px;
    margin-top: 4px;
    line-height: 17px;
  }

  .dropdown-time-menu a {
    font-size: 12px;
  }
}

@media screen and (min-width: 760px) {
  .deliver-time-container {
    margin-right: -22px;
  }
}

@media screen and (min-width: 1000px) {
  .mini-table-container {
    margin-top: 18px;
  }

  .dropdown-time-menu {
    height: 85px;
    margin-top: 4px;
    line-height: 19px;
  }

  .dropdown-time-menu a {
    font-size: 14px;
  }

  .delivery .row {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 1400px) {
  .delivery .row {
    margin-bottom: 7px;
  }
}
