.delivery {
  width: 100%;
  height: 100%;
}

.delivery .row {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.delivery .row .col img {
  height: 12px;
  width: 12px;
  margin-top: 5px;
}

.delivery-title {
  font-size: 10px;
  color: white;
  margin-left: 4px;
}

.time-to-deliver {
  font-size: 10px;
  color: white;
  font-weight: 700;
  margin-left: 0px;
}

.now-col {
  margin-right: -5px;
}

.arrow-icon img {
  margin-top: 5px;
  height: 10px;
  width: 10px;
  color: white;
  transform: rotate(90deg);
}

@media screen and (min-width: 400px) {
  .delivery .row {
    margin-left: 10px;
  }

  .delivery .row .col {
    margin-bottom: 5px;
  }

  .delivery-title {
    font-size: 14px;
  }

  .now-col {
    font-size: 13px;
  }

  .arrow-icon {
    margin-left: -15px;
  }
}

@media screen and (min-width: 760px) {
  .now-col {
    margin-right: -3px;
  }

  .time-to-deliver .row {
    margin-left: 10px;
  }
}
