.title-and-delivery-container .row {
  display: flex;
  justify-content: space-between;
  margin: 0 5px;
}

.title-and-delivery-container .col-2 {
  border: 1px solid red;
  border-radius: 100px;
  background-color: red;
  height: 32px;
  width: 105px;
}
