#app {
  overflow-x: hidden;
  min-height: 100vh;
  z-index: 1;
}

@media screen and (min-width: 305px) {
  .menu-searchbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 20px 5px;
  }
}

@media screen and (max-width: 760px) {
  /* Hasta 760 px ejecute este tipo de menú */
  .main-section {
    z-index: 2;
  }

  .my-order-section {
    position: fixed;
    background-color: #f9f9f8;
    z-index: 3;
    top: 0;
    right: -100vw;
    width: 85vw;
    bottom: 0;
    transition: 0.5s;
  }

  .my-order-section.is-active {
    right: 0;
    height: 100vh;
  }
}

@media screen and (min-width: 1200px) {
  .menu-searchbar {
    margin: 25px 30px;
  }
}
