.main-checkout-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -10px;
  margin-left: 10px;
}

.persons-col p {
  font-weight: 500;
  margin-top: 20px;
  font-size: 12px;
}

.qty-persons-selector {
  display: flex;
  border: 1px solid #dadbd9;
  justify-content: space-between;
  border-radius: 5px;
  margin-top: 5px;
  height: 25px;
  width: 70px;
}

.substract-person-button {
  font-weight: 700;
  margin-left: 8px;
  font-size: 20px;
  cursor: pointer;
}

.substract-person-button:active {
  color: #ffd644;
}

.person-qty {
  color: black;
  font-weight: 700;
  font-size: 20px;
}

.add-person-button {
  font-weight: 700;
  margin-right: 8px;
  margin-top: 1px;
  font-size: 20px;
  cursor: pointer;
}

.add-person-button:active {
  color: #ffd644;
}

.button-container a {
  text-decoration: none;
  color: black;
}

.checkout-button {
  display: flex;
  align-items: center;
  background-color: #ffd644;
  border-radius: 15px 0px 0px 15px;
  padding: 0 30px;
  margin-top: 20px;
}

.col-text {
  margin-right: 12px;
}

.col-arrow img {
  height: 15px;
  width: 15px;
}

@media screen and (min-width: 1000px) {
  .main-checkout-row .persons-col {
    height: 80px;
    width: 170px;
  }

  .persons-col .row p {
    font-size: 18px;
  }

  .qty-persons-selector {
    height: 45px;
    width: 100px;
  }

  .substract-person-button {
    font-size: 32px;
  }

  .person-qty {
    font-size: 32px;
  }

  .add-person-button {
    font-size: 32px;
  }

  .checkout-button {
    height: 80px;
    width: 170px;
  }

  .checkout-button .col-text h4 {
    font-size: 20px;
  }

  .checkout-button .col-arrow img {
    margin-top: 5px;
    height: 20px;
    width: 25px;
  }
}

@media screen and (min-width: 1200px) {
  .persons-col .row p {
    font-size: 14px;
  }

  .qty-persons-selector {
    height: 35px;
    width: 90px;
  }

  .substract-person-button {
    font-size: 24px;
  }

  .person-qty {
    font-size: 24px;
  }

  .add-person-button {
    font-size: 24px;
  }

  .main-checkout-row {
    margin-left: 30px;
  }
}
