.All-list {
  display: flex;
  overflow: scroll;
  overflow-y: hidden;
  width: 100%;
}

.All-list::-webkit-scrollbar {
  display: none;
}

.All-list li {
  padding: 15px 6px 30px 6px;
}

@media screen and (min-width: 400px) {
  .All-list li {
    padding: 30px 8px 50px 8px;
  }
}

@media screen and (min-width: 760px) {
  .All-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .All-list li {
    margin: 0 20px;
  }
}
