.recount-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  margin-top: 10px;
}

.recount-container img {
  height: 14px;
  width: 14px;
  margin-right: 20px;
}

.recount-container .row {
  display: flex;
  align-items: center;
}

.products-counter {
  background-color: #ffd644;
  height: 28px;
  width: 28px;
  border-radius: 10px;
}
