.title-container {
  margin-left: 30px;
  margin-bottom: -10px;
  margin-top: -20px;
}

.title-container img {
  width: 18px;
  height: 18px;
}

@media screen and (min-width: 1000px) {
  .title-container h4 {
    font-size: 28px;
  }
}

@media screen and (min-width: 1300px) {
  .title-container h4 {
    font-size: 32px;
    margin-left: 20px;
  }
}
