.jumbotron-main-publicity {
  background-color: #fff7eb;
  border-radius: 15px;
  height: 15vh;
  margin-bottom: 18px;
  margin-left: 5px;
  margin-right: 5px;
}

.jumbotron-main-publicity .container {
  height: 100%;
  width: 100%;
}

.jumbotron-main-publicity .container .row {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-image img {
  height: 15vh;
  width: 105px;
}

.main-title-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: -10px;
}

.main-title-section h3 {
  margin-right: 5px;
  font-size: 12px;
}

.main-title-section img {
  height: 22px;
  width: 22px;
  margin-right: 0px;
}

.main-title {
  color: red;
}

.main-paragraph {
  color: #a49e96;
  font-size: 10px;
  line-height: 0px;
}

.learn-more-link {
  height: 100%;
  font-size: 10px;
  display: flex;
  align-items: flex-end;
}

.row-learn-more {
  display: flex;
  align-items: center;
}

.learn-more-link p {
  color: red;
  font-weight: 500;
  height: 100%;
  padding-bottom: 5px;
  margin-right: -14px;
  line-height: 8px;
  display: flex;
  align-items: flex-end;
}

.learn-more-link .arrow-col {
  margin-right: 10px;
}

.learn-more-link img {
  height: 175%;
  width: 10px;
  margin-left: 4px;
}

@media screen and (min-width: 370px) {
  .learn-more-link .row-learn-more {
    margin-left: 30px;
  }

  .arrow-col {
    margin-left: 6px;
  }

  .header-image img {
    height: 14vh;
    width: 125px;
    margin-bottom: -6px;
  }
}

@media screen and (min-width: 400px) {
  .learn-more-link .row-learn-more {
    margin-left: 0;
  }

  .learn-more-link .row-learn-more .col {
    margin-right: 15px;
  }

  .main-title-section .main-title {
    font-size: 22px;
  }

  .main-title-section img {
    height: 30px;
    width: 30px;
  }

  .row-learn-more p {
    width: 20px;
  }
}

@media screen and (min-width: 760px) {
  .jumbotron-main-publicity {
    margin: 50px 15px 20px 10px;
  }

  .main-title-section .main-title {
    font-size: 22px;
  }

  .header-image img {
    height: 15vh;
    width: 165px;
    margin-bottom: -2px;
  }

  .main-title-section img {
    height: 40px;
    width: 40px;
  }

  .learn-more-link .row-learn-more .col {
    font-size: 12px;
  }

  .learn-more-link .row-learn-more .col p {
    line-height: 12px;
  }

  .learn-more-link .row-learn-more {
    margin-bottom: 10px;
  }

  .arrow-col img {
    margin-left: 10px;
    height: 12px;
    width: 12px;
  }
}

@media screen and (min-width: 1000px) {
  .jumbotron-main-publicity {
    height: 23vh;
    margin: 40px 30px;
  }

  .header-image {
    height: 100%;
  }

  .header-image img {
    height: 23vh;
    width: 255px;
    margin-bottom: -5px;
    margin-left: 30px;
  }

  .learn-more-link .row-learn-more .col {
    font-size: 24px;
  }

  .learn-more-link .row-learn-more .col p {
    line-height: 20px;
  }

  .learn-more-link .row-learn-more {
    margin-bottom: 20px;
    margin-right: 20px;
  }

  .arrow-col img {
    margin-left: 40px;
    height: 24px;
    width: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .jumbotron-main-publicity {
    height: 28vh;
  }

  .header-image img {
    height: 28vh;
    width: 280px;
  }

  .main-title-section .main-title {
    font-size: 50px;
  }

  .main-title-section {
    margin-bottom: 10px;
  }

  .main-title-section img {
    height: 70px;
    width: 70px;
  }

  .main-paragraph {
    font-size: 24px;
  }

  .row-learn-more p {
    font-size: 16px;
  }

  .learn-more-link .row-learn-more .arrow-col img {
    height: 16px;
    width: 16px;
    margin-left: 18px;
  }
}
